@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    
}
body {
    background-image:linear-gradient(to right,#3E2AC9,#90F6C5);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(140, 245, 196, 0.252);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #BF78F2;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
h2 {
    color: #4B4AC8;
}
p {
    text-align: justify;
}